*.apk
*.ap_
*.aab
*.dex

*.class
*.jar

*.log
*.tmp
*.temp

cmake-build-*/

*.slo
*.lo
*.o
*.obj
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib
*.lib

x64/
x86/
x32/
Temp/
obj/
bin/

.vs/
.vscode/
.idea/
*.swp
*.swo

*.ninja



*.exe
*.dll
*.pdb
*.ilk
*.exp
*.lib

*.7z
*.zip
*.rar
*.tar
*.gz


Engine/Binaries/
Engine/Intermediate/
Engine/Saved/
Engine/Temp/

*.udeproj
*.uproject
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

Build/
bin/
[Oo]bj/